body {
  font-family: "Open Sans", sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0;
}

.headerText {
  font-size: 24px;
  font-weight: 700;
  padding: 8px;
}

.headerSubtitle {
  font-size: 16px;
  padding: 8px;
}

.boxes {
  display: flex;
  flex: 1;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.schema {
  flex: 1;
}

.document {
  flex: 1;
}

.config {
  flex: 1;
}

.output {
  flex: 1;
}

.section {
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.pre {
  margin: 0 !important;
  flex: 1;
}

.sectionHeader {
  font-size: 18px;
  /* font-weight: 700; */
  padding: 8px;
  flex: 0;
}

[contenteditable] {
  outline: 0px solid transparent;
}
